<div class="nav-container">
  <img class="logo" src="../../../../../to-je-jedno/src/assets/KROS-bez-okrajov.png" alt="logo">
  <div class="nav-left">
    <span>Faktúry</span>
    <span>Zálohové faktúry</span>
    <span>Prehľady</span>
  </div>
  <input type="text" placeholder="Hľadaj">
  <div class="nav-right">
    <img src="../../../../../to-je-jedno/src/assets/saved.png" alt="saved">
    <img src="../../../../../to-je-jedno/src/assets/settings.png" alt="settings">
    <span>Account management</span>
  </div>
</div>
