.nav-container {
  margin-top: 5px;
  border: solid black 1px;

  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  grid-gap: 10px;

  img {
    width: 50px;
  }
}

.nav-left {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-gap: 20px;
}

input {
  justify-self: center;
  width: 200px;
}

.nav-right {
  grid-column: -2;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  margin-right: 10px;
  grid-gap: 10px;

  img {
    width: 25px;
  }
}

span {
  align-self: center;
}
