<div class="nav-container">
  <img class="logo" src="assets/KROS-bez-okrajov.png" alt="logo">

  <!--  <ul>-->
  <!--    <li>Faktúry</li>-->
  <!--    <li>Zálohové faktúry</li>-->
  <!--    <li>Prehľady</li>-->
  <!--  </ul>-->
  <!--  <ul class="nav-right">-->
  <!--    <li><img class="saved" src="assets/saved.png" alt="saved"></li>-->
  <!--    <li><img class="settings" src="assets/settings.png" alt="settings"></li>-->
  <!--    <li>Account management</li>-->
  <!--  </ul>-->

  <!--  <div class="nav-left">-->
  <span>Faktúry</span>
  <span>Zálohové faktúry</span>
  <span>Prehľady</span>
  <!--  </div>-->
  <div class="nav-right">
    <img class="saved" src="assets/saved.png" alt="saved">
    <img class="settings" src="assets/settings.png" alt="settings">
    <span>Account management</span>
  </div>
</div>
