.nav-container {
  border: solid black 1px;
  position: relative;
}

.nav-container *, .nav-right * {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  width: 50px;
  display: inline-block;
}

span {
  display: inline-block;
  margin: auto 10px;
}

.nav-right {
  position: absolute;
  right: 0px;
  top: 25%;
}

.settings {
  width: 25px;
}

.saved {
  width: 25px;
  padding-right: 10px;
}
