<div class="nav-container">
  <img class="logo" src="../../../../../to-je-jedno/src/assets/KROS-bez-okrajov.png" alt="logo">
  <span>Faktúry</span>
  <span>Zálohové faktúry</span>
  <span>Prehľady</span>
  <div class="nav-middle">
    <input type="text" placeholder="Hľadaj">
  </div>
  <div class="nav-right">
    <img class="saved" src="../../../../../to-je-jedno/src/assets/saved.png" alt="saved">
    <img class="settings" src="../../../../../to-je-jedno/src/assets/settings.png" alt="settings">
    <span>Account management</span>
  </div>
</div>
