.nav-container {
  //height: 60px;
  border: solid black 1px;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.nav-container *, .nav-right * {
  display: inline-block;
  vertical-align: middle;
}

.nav-left {
  //float: left;
}

.logo {
  width: 50px;
  //float: left;
  display: inline-block;
  //margin: 5px;
}

span {
  display: inline-block;
  margin: auto 10px;
}

.nav-right {
  //float: right;
  //display: inline-block;
}

.settings {
  width: 25px;
}

.saved {
  width: 25px;
}
