aside {
  position: relative;
  height: 100%;
  padding-top: 38px;
}

button {
  position: absolute;
  top: 0;
}

.items {
  overflow: auto;
  height: 100%;
  //height: calc(100% - 38px);
}

.items > * {
  background-color: #4bb084;
}
.items> *:nth-child(2n) {
  background-color: #92c854;
}
