:host {
  display: block;
  height: 100%;

}

.side-bar-wrapper {
  float: left;
  background-color: goldenrod;
  width: 25%;
  height: 100%;
}

.content-wrapper {
  display: inline-block;
  background-color: aqua;
  width: 75%;
  height: 100%;
}

